@media screen and (max-width: 360px) {
  #mainProgress {
    display: flex;
    margin: 16px;
    flex-direction: column;
    margin-top: 96px;
  }
  #progressoAtual {
    font-size: 20px;
    font-weight: 400;
  }
}
