.scrollingWrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.card {
  display: inline-block;
  border-radius: 16px;
  margin: 10px;
  left: 542.8333740234375px;
  top: 80px;
  border-radius: 5px;
  width: 144px;
  height: 131px;
}

.out {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img {
  margin-top: 20px;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 10px;
  width: 52px;
  height: 52px;

  flex: none;
  order: 0;
  flex-grow: 0;
}

p {
  height: 20px;

  font-family: "Sora";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
