.navbar {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    width: 360px;
    height: 76px;
    /* Primary Dark Blue */
    background: #1a405f;
}

h1 {
    position: absolute;
    left: 41.94%;
    right: 41.11%;
    top: 42.11%;
    bottom: 16.23%;
    font-family: "Sora";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    /* White */
    color: #fcfcfa;
}

svg {
    position: absolute;
    left: 88.06%;
    right: 3.06%;
    top: 42.11%;
    bottom: 15.79%;
}