@media screen and (max-width: 360px) {
  #progBar {
    width: 211px;
    height: 15px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: inherit;
  }
  #percentBar {
    width: 90%;
    height: 13px;
    border-radius: 10px;
  }
  #mainProgressBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
  }
  #percentText {
    font-size: 11px;
    right: 4px;
  }
  #name {
    font-weight: bold;

    margin: 0px 5px;
    padding-top: 14px;
  }
}
