#progBar {
  width: 211px;
  height: 15px;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
#percentBar {
  width: 90%;
  height: 13px;
  border-radius: 10px;
}
#mainProgressBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#percentText {
  font-size: 11px;
  right: 4px;
  position: relative;
}
#name {
  font-weight: bold;
  position: relative;
  margin: 0px 5px;
  top: 5px;
}
